* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  #contact{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      padding: 60px 30%;
      background-color: rgba(231,231,231,1);
}
#contact input,textarea{
    margin-top: 15px;
}

  